.container {
    max-width: 750px;
    width: 100%;
    text-align: center;
    border: 1px solid;
    height: 630px;
    margin-top: 47px;
    background-color: antiquewhite;
}
.profile-img {
    max-width: 230px;
    margin: auto auto 30px auto;
}
.card-text {
    font-weight: bold;
}
.edit-form {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    &__info {
        font-weight: bold;
        width: 100px;
        margin-right: 15px;
    }
}
.form-control {
    width: 250px;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    &:focus {
        border-color: unset;
        box-shadow: unset;
    }
}
.alert {
    margin: auto auto auto 20px;
    padding: 0;
    color: red;
}
