.container {
    max-width: 750px;
    width: 100%;
    text-align: center;
    border: 1px solid;
    height: 630px;
    margin-top: 47px;
    background-color: antiquewhite;
}
.profile-img {
    max-width: 230px;
    margin: auto auto 50px auto;
}
.card-text {
    font-weight: bold;
}
